* {
    box-sizing: border-box;
    
}

header, footer {
    height: 100px;
    background: greenyellow;
    border: 3px solid black;
    clear : both;
}

.first, .second , .third{
    height: 100px;
    width : 33.3333%;
    background: blue;
    border: 3px solid black;
    float : left;
    
}

.fourth, .fifth {
    height: 125px;
    width : 50%;
    background: red;
    border: 3px solid black;
    float : left;
    
}